.ui-input {
    appearance: none;
	height: var(--input-height);
	padding-left: .5rem;
	padding-right: .5rem;
	line-height: var(--input-height);
	background-color: var(--input-bg-color);
	border: var(--input-border-width) solid var(--input-border-color);
	
}
