:root {
    --input-height: 40px;
    --input-border-width: 1px;
}
/*  Forms initial styles */
button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button,
input {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted;
}
button,
input[type="submit"] {
    cursor: pointer;
}
legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
fieldset legend {
    font-weight: 500;
    padding: 0 10px;
}
progress {
    display: inline-block;
    vertical-align: baseline;
}
textarea {
    overflow: auto;
}
label + label {
    margin-left: 5px;
}
[type="checkbox"],
[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    -ms-appearance: textfield;
    appearance: none;
    outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
input[type="range"] {
    appearance: none;
}
input[type="range"]:focus {
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-thumb,
input[type="range"]::-ms-track,
input[type="range"]::-ms-thumb {
    cursor: pointer;
}
/*  Forms base styles */

input,
select,
textarea {
    --input-bg: var(--body-bg-color);
    --input-border-color: var(--color-text);
    --placeholder-color: #5E616C;
 	--input-focus-color: var(--placeholder-color);
    display: inline-block;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    color: var(--color-text);
    vertical-align: middle;
    border-width: 1px;
    border-style: solid;
    box-shadow: none;
    background: none;
    line-height: 1;
    transition: all 0.3s ease-out;
    white-space: nowrap;
    &:focus {
        outline: none;
        &:not([readonly]) {
            border-color: var(--input-focus-color);
        }
    }

    &[disabled] {
        opacity: 0.5;
        cursor: not-allowed;
        box-shadow: none;
    }

    &[readonly] {
        background-color: var(--grey-light);
    }

    &[type="color"] {
        padding: 0.5rem;

        &::-webkit-color-swatch-wrapper {
            padding: 0;
        }

        &::-webkit-color-swatch {
            border: none;
        }
    }
}
input,
textarea {
    &:focus {
        &::placeholder {
            opacity: 0;
        }
    }
}
select {
    position: relative;
    height: var(--input-height);
    line-height: var(--input-height);
    background-color: var(--input-bg-color);
    background-image: none;
    background-position: right 0.4rem center;
    background-repeat: no-repeat;
    background-size: 16px 8px;
    border: var(--input-border-width) solid var(--input-border-color);
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 1.5rem;
    padding-left: 0.5rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    &[multiple] {
        height: auto;
        padding-right: 0;
    }
}
select:required:invalid {
    color: var(--placeholder-color);
}
option[value=""][disabled] {
    display: none;
}
option {
    color: var(--color-text);
}
textarea {
    height: auto;
    vertical-align: top;
    resize: vertical;
    line-height: 1.1;
    white-space: normal;
}

input[type="checkbox"],
input[type="radio"] {
    vertical-align: 1px;
}

/* delete arrow input type number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
    font-weight: normal;
}
/* hide cross in search input ie */
input[type="search"]::-ms-clear {
    size: 0;
}
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}
.label {
    display: inline-block;
    margin-bottom: 0.25rem;
    & + label {
        margin-left: 1rem;
    }
}
/* Validation */
.is-error {
    border-color: var(--state-danger);
    color: var(--state-danger) !important;
    &::placeholder {
        color: var(--state-danger) !important;
    }
}
.is-success {
    border-color: var(--state-success);
    color: var(--state-success) !important;
    &::placeholder {
        color: var(--state-success) !important;
    }
}