a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
	text-decoration: none;
	color: var(--base-color);
	&:hover {
		text-decoration: underline;
	}
}
.link {
	cursor: pointer;
}